root = true

[*.cs]
indent_style = space
indent_size = 2
insert_final_newline = true

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none

# SA1135: Using directives should be qualified
dotnet_diagnostic.SA1135.severity = none
